.chat {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        .message {
            &-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: 2;

                border-radius: 3px;
                width: 600px;
                border: 1px solid black;
                background-color: rgb(208, 255, 243);

                align-self: center;

                .message {
                    margin: 5px;
                    border: 1px solid #80808045;
                    border-radius: 3px;
                    padding: 0px 10px;

                    &.mine {
                        align-self: flex-end;
                    }

                    &.info {
                        align-self: center;
                        font-style: italic;
                        border: none;
                    }
                }
            }
        }
        .commands {
            display: flex;
            flex-direction: row;

            width: 600px;
            align-self: center;
            height: 50px;

            align-items: center;

            .btn {
                min-width: 100px;
                margin: 5px 0 5px 5px;
            }
        }

        .groups {
            height: 50px;
            width: 600px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-self: center;

            .btn {
                min-width: 100px;
                margin: 5px 0 5px 5px;
            }
        }
    }
}
