<div class="groups">
    <ng-container *ngFor="let group of groups">
        <button class="btn"
            [class.btn-outline-primary]="!group.joined"
            [class.btn-primary]="group.joined"
            (click)="toggleGroup(group)">{{group.name}}</button>
    </ng-container>
</div>
<div class="message-container">

    <div class="message info"
        *ngIf="currentUser"><span>-- Connected as <b>{{currentUser}} --</b></span></div>
    <div *ngFor="let message of messages; trackBy: trackByFn"
        class="message"
        [class.mine]="message.mine"
        [class.info]="message.info">
        <b *ngIf="message.user"><span>{{message.user}}</span></b>
        <i><b *ngIf="message.groups && message.groups.length > 0"><span> ({{message.groups.join(', ')}})</span></b></i>
        <b>: </b>
        <span>{{message.message}}</span></div>
</div>

<div class="commands">
    <input class="form-control"
        id="input"
        type="text"
        [mention]="joinedGroups"
        [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'name'}"
        placeholder="Enter message here"
        [(ngModel)]="message">
    <button type="button"
        class="btn btn-primary"
        [class.disabled]="!connected"
        (click)="sendMessage()">Send</button>
</div>